<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>toy5_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{148,148}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,7},{148,148}}</string>
                <key>sourceSize</key>
                <string>{200,166}</string>
            </dict>
            <key>toy5_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{148,148}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,7},{148,148}}</string>
                <key>sourceSize</key>
                <string>{200,166}</string>
            </dict>
            <key>toy5_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{148,148}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,7},{148,148}}</string>
                <key>sourceSize</key>
                <string>{200,166}</string>
            </dict>
            <key>toy5_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{148,148}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,7},{148,148}}</string>
                <key>sourceSize</key>
                <string>{200,166}</string>
            </dict>
            <key>toy5_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,148}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,7},{148,148}}</string>
                <key>sourceSize</key>
                <string>{200,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>toy5Anim.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9703588c49a1ca3476fc75e91bafbce$</string>
            <key>textureFileName</key>
            <string>toy5Anim.png</string>
        </dict>
    </dict>
</plist>
