<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clothes</key>
	<dict>
		<key>num</key>
		<string>60</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<string>146</string>
			<key>y</key>
			<string>130</string>
		</dict>
		<key>zone</key>
		<string>2</string>
	</dict>
	<key>hat</key>
	<dict>
		<key>num</key>
		<string>31</string>
		<key>position</key>
		<dict>
			<key>cat1</key>
			<dict>
				<key>x</key>
				<string>142</string>
				<key>y</key>
				<string>193</string>
			</dict>
			<key>cat2</key>
			<dict>
				<key>x</key>
				<string>122</string>
				<key>y</key>
				<string>143</string>
			</dict>
			<key>cat3</key>
			<dict>
				<key>x</key>
				<string>160</string>
				<key>y</key>
				<string>190</string>
			</dict>
			<key>cat4</key>
			<dict>
				<key>x</key>
				<string>134</string>
				<key>y</key>
				<string>178</string>
			</dict>
			<key>cat5</key>
			<dict>
				<key>x</key>
				<string>135</string>
				<key>y</key>
				<string>176</string>
			</dict>
			<key>cat6</key>
			<dict>
				<key>x</key>
				<string>108</string>
				<key>y</key>
				<string>87</string>
			</dict>
			<key>cat7</key>
			<dict>
				<key>x</key>
				<string>107</string>
				<key>y</key>
				<string>83</string>
			</dict>
			<key>cat8</key>
			<dict>
				<key>x</key>
				<string>150</string>
				<key>y</key>
				<string>160</string>
			</dict>
			<key>cat9</key>
			<dict>
				<key>x</key>
				<string>156</string>
				<key>y</key>
				<string>170</string>
			</dict>
			<key>cat10</key>
			<dict>
				<key>x</key>
				<string>136</string>
				<key>y</key>
				<string>178</string>
			</dict>
			<key>cat11</key>
			<dict>
				<key>x</key>
				<string>135</string>
				<key>y</key>
				<string>180</string>
			</dict>
			<key>cat12</key>
			<dict>
				<key>x</key>
				<string>162</string>
				<key>y</key>
				<string>167</string>
			</dict>
			<key>cat13</key>
			<dict>
				<key>x</key>
				<string>148</string>
				<key>y</key>
				<string>147</string>
			</dict>
		</dict>
		<key>zone</key>
		<string>7</string>
	</dict>
	<key>shoes</key>
	<dict>
		<key>num</key>
		<string>32</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<string>-16.2</string>
			<key>y</key>
			<string>-13.9</string>
		</dict>
		<key>zone</key>
		<string>1</string>
	</dict>
	<key>background</key>
	<dict>
		<key>num</key>
		<string>12</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<string>125</string>
			<key>y</key>
			<string>194</string>
		</dict>
		<key>zone</key>
		<string>3</string>
	</dict>
	<key>glasses</key>
	<dict>
		<key>num</key>
		<string>22</string>
		<key>position</key>
		<dict>
			<key>cat1</key>
			<dict>
				<key>x</key>
				<string>129</string>
				<key>y</key>
				<string>114</string>
			</dict>
			<key>cat2</key>
			<dict>
				<key>x</key>
				<string>119</string>
				<key>y</key>
				<string>81</string>
			</dict>
			<key>cat3</key>
			<dict>
				<key>x</key>
				<string>149</string>
				<key>y</key>
				<string>136</string>
			</dict>
			<key>cat4</key>
			<dict>
				<key>x</key>
				<string>136</string>
				<key>y</key>
				<string>112</string>
			</dict>
			<key>cat5</key>
			<dict>
				<key>x</key>
				<string>130</string>
				<key>y</key>
				<string>131</string>
			</dict>
			<key>cat6</key>
			<dict>
				<key>x</key>
				<string>93</string>
				<key>y</key>
				<string>49</string>
			</dict>
			<key>cat7</key>
			<dict>
				<key>x</key>
				<string>111</string>
				<key>y</key>
				<string>36</string>
			</dict>
			<key>cat8</key>
			<dict>
				<key>x</key>
				<string>150</string>
				<key>y</key>
				<string>112</string>
			</dict>
			<key>cat9</key>
			<dict>
				<key>x</key>
				<string>159</string>
				<key>y</key>
				<string>127</string>
			</dict>
			<key>cat10</key>
			<dict>
				<key>x</key>
				<string>134</string>
				<key>y</key>
				<string>125</string>
			</dict>
			<key>cat11</key>
			<dict>
				<key>x</key>
				<string>138</string>
				<key>y</key>
				<string>100</string>
			</dict>
			<key>cat12</key>
			<dict>
				<key>x</key>
				<string>154</string>
				<key>y</key>
				<string>96</string>
			</dict>
			<key>cat13</key>
			<dict>
				<key>x</key>
				<string>142</string>
				<key>y</key>
				<string>122</string>
			</dict>
		</dict>
		<key>zone</key>
		<string>6</string>
	</dict>
	<key>toy</key>
	<dict>
		<key>num</key>
		<string>56</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<string>286</string>
			<key>y</key>
			<string>225</string>
		</dict>
		<key>zone</key>
		<string>0</string>
	</dict>
	<key>set</key>
	<dict>
		<key>num</key>
		<string>16</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<string>0</string>
			<key>y</key>
			<string>0</string>
		</dict>
		<key>zone</key>
		<string>0</string>
	</dict>
</dict>
</plist>
