<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>set1</key>
	<dict>
		<key>clothes</key>
		<string>2</string>
		<key>hat</key>
		<string>6</string>
		<key>shoes</key>
		<string>13</string>
		<key>toy</key>
		<string>45</string>
	</dict>
	<key>set2</key>
	<dict>
		<key>clothes</key>
		<string>4</string>
		<key>hat</key>
		<string>21</string>
		<key>shoes</key>
		<string>21</string>
		<key>toy</key>
		<string>43</string>
	</dict>
	<key>set3</key>
	<dict>
		<key>clothes</key>
		<string>8</string>
		<key>hat</key>
		<string>18</string>
		<key>shoes</key>
		<string>4</string>
		<key>toy</key>
		<string>42</string>
	</dict>
	<key>set4</key>
	<dict>
		<key>clothes</key>
		<string>12</string>
		<key>hat</key>
		<string>16</string>
		<key>shoes</key>
		<string>6</string>
		<key>toy</key>
		<string>46</string>
	</dict>
	<key>set5</key>
	<dict>
		<key>clothes</key>
		<string>16</string>
		<key>hat</key>
		<string>8</string>
		<key>shoes</key>
		<string>2</string>
		<key>toy</key>
		<string>40</string>
	</dict>
	<key>set6</key>
	<dict>
		<key>clothes</key>
		<string>19</string>
		<key>hat</key>
		<string>12</string>
		<key>shoes</key>
		<string>17</string>
		<key>toy</key>
		<string>11</string>
	</dict>
	<key>set7</key>
	<dict>
		<key>clothes</key>
		<string>26</string>
		<key>hat</key>
		<string>22</string>
		<key>shoes</key>
		<string>14</string>
		<key>toy</key>
		<string>29</string>
	</dict>
	<key>set8</key>
	<dict>
		<key>clothes</key>
		<string>33</string>
		<key>hat</key>
		<string>2</string>
		<key>shoes</key>
		<string>8</string>
		<key>toy</key>
		<string>17</string>
	</dict>
	<key>set9</key>
	<dict>
		<key>clothes</key>
		<string>37</string>
		<key>hat</key>
		<string>20</string>
		<key>shoes</key>
		<string>20</string>
		<key>toy</key>
		<string>37</string>
	</dict>
	<key>set10</key>
	<dict>
		<key>clothes</key>
		<string>43</string>
		<key>hat</key>
		<string>10</string>
		<key>shoes</key>
		<string>22</string>
		<key>toy</key>
		<string>41</string>
	</dict>
	<key>set11</key>
	<dict>
		<key>clothes</key>
		<string>47</string>
		<key>hat</key>
		<string>4</string>
		<key>shoes</key>
		<string>18</string>
		<key>toy</key>
		<string>16</string>
	</dict>
	<key>set12</key>
	<dict>
		<key>clothes</key>
		<string>56</string>
		<key>hat</key>
		<string>32</string>
		<key>shoes</key>
		<string>28</string>
		<key>toy</key>
		<string>50</string>
	</dict>
	<key>set13</key>
	<dict>
		<key>clothes</key>
		<string>59</string>
		<key>hat</key>
		<string>30</string>
		<key>shoes</key>
		<string>31</string>
		<key>toy</key>
		<string>47</string>
	</dict>
	<key>set14</key>
	<dict>
		<key>clothes</key>
		<string>57</string>
		<key>hat</key>
		<string>31</string>
		<key>shoes</key>
		<string>29</string>
		<key>toy</key>
		<string>48</string>
	</dict>
	<key>set15</key>
	<dict>
		<key>clothes</key>
		<string>58</string>
		<key>hat</key>
		<string>29</string>
		<key>shoes</key>
		<string>30</string>
		<key>toy</key>
		<string>49</string>
	</dict>
	<key>set16</key>
	<dict>
		<key>clothes</key>
		<string>60</string>
		<key>hat</key>
		<string>33</string>
		<key>shoes</key>
		<string>32</string>
		<key>toy</key>
		<string>51</string>
	</dict>
</dict>
</plist>
