<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>star1Pos</key>
	<dict>
		<key>x</key>
		<string>0.23</string>
		<key>y</key>
		<string>0.71</string>
	</dict>
	<key>star2Pos</key>
	<dict>
		<key>x</key>
		<string>0.85</string>
		<key>y</key>
		<string>0.92</string>
	</dict>
	<key>star3Pos</key>
	<dict>
		<key>x</key>
		<string>0.75</string>
		<key>y</key>
		<string>0.71</string>
	</dict>
	<key>star4Pos</key>
	<dict>
		<key>x</key>
		<string>0.41</string>
		<key>y</key>
		<string>0.88</string>
	</dict>
</dict>
</plist>
