<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pawInfo</key>
	<dict>
		<key>paw1</key>
		<dict>
			<key>x</key>
			<string>0.056</string>
			<key>y</key>
			<string>0.104</string>
		</dict>
		<key>paw2</key>
		<dict>
			<key>x</key>
			<string>0.1485</string>
			<key>y</key>
			<string>0.004</string>
		</dict>
		<key>paw3</key>
		<dict>
			<key>x</key>
			<string>0.283</string>
			<key>y</key>
			<string>0.012</string>
		</dict>
		<key>paw4</key>
		<dict>
			<key>x</key>
			<string>0.368</string>
			<key>y</key>
			<string>0.107</string>
		</dict>
		<key>paw5</key>
		<dict>
			<key>x</key>
			<string>0.622</string>
			<key>y</key>
			<string>0.135</string>
		</dict>
		<key>paw6</key>
		<dict>
			<key>x</key>
			<string>0.707</string>
			<key>y</key>
			<string>0.031</string>
		</dict>
		<key>paw7</key>
		<dict>
			<key>x</key>
			<string>0.843</string>
			<key>y</key>
			<string>0.024</string>
		</dict>
		<key>paw8</key>
		<dict>
			<key>x</key>
			<string>0.936</string>
			<key>y</key>
			<string>0.128</string>
		</dict>
	</dict>
	<key>thornInfo</key>
	<dict>
		<key>thorn1</key>
		<dict>
			<key>pos</key>
			<dict>
				<key>x</key>
				<string>0.305</string>
				<key>y</key>
				<string>0.674</string>
			</dict>
			<key>angle</key>
			<string>40</string>
		</dict>
		<key>thorn2</key>
		<dict>
			<key>pos</key>
			<dict>
				<key>x</key>
				<string>0.667</string>
				<key>y</key>
				<string>0.551</string>
			</dict>
			<key>angle</key>
			<string>-30</string>
		</dict>
		<key>thorn3</key>
		<dict>
			<key>pos</key>
			<dict>
				<key>x</key>
				<string>0.082</string>
				<key>y</key>
				<string>0.674</string>
			</dict>
			<key>angle</key>
			<string>-20</string>
		</dict>
		<key>thorn4</key>
		<dict>
			<key>pos</key>
			<dict>
				<key>x</key>
				<string>0.903</string>
				<key>y</key>
				<string>0.674</string>
			</dict>
			<key>angle</key>
			<string>40</string>
		</dict>
	</dict>
	<key>areaLayerInfo</key>
	<dict>
		<key>pawArea1</key>
		<dict>
			<key>x</key>
			<string>0.035</string>
			<key>y</key>
			<string>0.193</string>
		</dict>
		<key>pawArea2</key>
		<dict>
			<key>x</key>
			<string>0.151</string>
			<key>y</key>
			<string>0.137</string>
		</dict>
		<key>pawArea3</key>
		<dict>
			<key>x</key>
			<string>0.284</string>
			<key>y</key>
			<string>0.136</string>
		</dict>
		<key>pawArea4</key>
		<dict>
			<key>x</key>
			<string>0.390</string>
			<key>y</key>
			<string>0.197</string>
		</dict>
		<key>pawArea5</key>
		<dict>
			<key>x</key>
			<string>0.603</string>
			<key>y</key>
			<string>0.214</string>
		</dict>
		<key>pawArea6</key>
		<dict>
			<key>x</key>
			<string>0.707</string>
			<key>y</key>
			<string>0.152</string>
		</dict>
		<key>pawArea7</key>
		<dict>
			<key>x</key>
			<string>0.841</string>
			<key>y</key>
			<string>0.149</string>
		</dict>
		<key>pawArea8</key>
		<dict>
			<key>x</key>
			<string>0.963</string>
			<key>y</key>
			<string>0.21</string>
		</dict>
	</dict>
	<key>areaViewInfo</key>
	<dict>
		<key>pawArea1</key>
		<dict>
			<key>x</key>
			<string>-369</string>
			<key>y</key>
			<string>0.533</string>
		</dict>
		<key>pawArea2</key>
		<dict>
			<key>x</key>
			<string>-276</string>
			<key>y</key>
			<string>0.49</string>
		</dict>
		<key>pawArea3</key>
		<dict>
			<key>x</key>
			<string>-174</string>
			<key>y</key>
			<string>0.49</string>
		</dict>
		<key>pawArea4</key>
		<dict>
			<key>x</key>
			<string>-87</string>
			<key>y</key>
			<string>0.533</string>
		</dict>
		<key>pawArea5</key>
		<dict>
			<key>x</key>
			<string>81</string>
			<key>y</key>
			<string>0.542</string>
		</dict>
		<key>pawArea6</key>
		<dict>
			<key>x</key>
			<string>166</string>
			<key>y</key>
			<string>0.50</string>
		</dict>
		<key>pawArea7</key>
		<dict>
			<key>x</key>
			<string>268</string>
			<key>y</key>
			<string>0.49</string>
		</dict>
		<key>pawArea8</key>
		<dict>
			<key>x</key>
			<string>355</string>
			<key>y</key>
			<string>0.542</string>
		</dict>
	</dict>
	<key>nailPolishInfo</key>
	<dict>
		<key>nailPolish1</key>
		<dict>
			<key>red</key>
			<string>2</string>
			<key>green</key>
			<string>80</string>
			<key>blue</key>
			<string>155</string>
		</dict>
		<key>nailPolish2</key>
		<dict>
			<key>red</key>
			<string>173</string>
			<key>green</key>
			<string>44</string>
			<key>blue</key>
			<string>86</string>
		</dict>
		<key>nailPolish3</key>
		<dict>
			<key>red</key>
			<string>255</string>
			<key>green</key>
			<string>90</string>
			<key>blue</key>
			<string>75</string>
		</dict>
		<key>nailPolish4</key>
		<dict>
			<key>red</key>
			<string>152</string>
			<key>green</key>
			<string>255</string>
			<key>blue</key>
			<string>247</string>
		</dict>
		<key>nailPolish5</key>
		<dict>
			<key>red</key>
			<string>253</string>
			<key>green</key>
			<string>216</string>
			<key>blue</key>
			<string>13</string>
		</dict>
		<key>nailPolish6</key>
		<dict>
			<key>red</key>
			<string>142</string>
			<key>green</key>
			<string>225</string>
			<key>blue</key>
			<string>13</string>
		</dict>
	</dict>
</dict>
</plist>
