<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>nailFlower1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {75, 95}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{75, 95}</string>
			<key>spriteSourceSize</key>
			<string>{87, 103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{85, 99}, {75, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nailFlower10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 20}, {67, 63}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{67, 63}</string>
			<key>spriteSourceSize</key>
			<string>{87, 103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{245, 176}, {67, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nailFlower2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {79, 95}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{79, 95}</string>
			<key>spriteSourceSize</key>
			<string>{87, 103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{85, 2}, {79, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nailFlower3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 14}, {71, 85}}</string>
			<key>spriteOffset</key>
			<string>{1, -5}</string>
			<key>spriteSize</key>
			<string>{71, 85}</string>
			<key>spriteSourceSize</key>
			<string>{87, 103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{245, 2}, {71, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nailFlower4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 12}, {71, 85}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{71, 85}</string>
			<key>spriteSourceSize</key>
			<string>{87, 103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{245, 89}, {71, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nailFlower5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 7}, {77, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{77, 89}</string>
			<key>spriteSourceSize</key>
			<string>{87, 103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{166, 2}, {77, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nailFlower6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {81, 91}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{81, 91}</string>
			<key>spriteSourceSize</key>
			<string>{87, 103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 99}, {81, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nailFlower7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {81, 95}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{81, 95}</string>
			<key>spriteSourceSize</key>
			<string>{87, 103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {81, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nailFlower8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {81, 95}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{81, 95}</string>
			<key>spriteSourceSize</key>
			<string>{87, 103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 99}, {81, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nailFlower9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 13}, {79, 81}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{79, 81}</string>
			<key>spriteSourceSize</key>
			<string>{87, 103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{318, 2}, {79, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 256}</string>
	</dict>
</dict>
</plist>