<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bubble1</key>
	<dict>
		<key>initPos</key>
		<dict>
			<key>x</key>
			<string>0.35</string>
			<key>y</key>
			<string>0.16</string>
		</dict>
		<key>cp1Pos</key>
		<dict>
			<key>x</key>
			<string>100</string>
			<key>y</key>
			<string>100</string>
		</dict>
		<key>cp2Pos</key>
		<dict>
			<key>x</key>
			<string>-100</string>
			<key>y</key>
			<string>200</string>
		</dict>
		<key>endPos</key>
		<dict>
			<key>x</key>
			<string>0</string>
			<key>y</key>
			<string>400</string>
		</dict>
	</dict>
	<key>bubble2</key>
	<dict>
		<key>initPos</key>
		<dict>
			<key>x</key>
			<string>0.44</string>
			<key>y</key>
			<string>0.16</string>
		</dict>
		<key>cp1Pos</key>
		<dict>
			<key>x</key>
			<string>50</string>
			<key>y</key>
			<string>200</string>
		</dict>
		<key>cp2Pos</key>
		<dict>
			<key>x</key>
			<string>50</string>
			<key>y</key>
			<string>100</string>
		</dict>
		<key>endPos</key>
		<dict>
			<key>x</key>
			<string>150</string>
			<key>y</key>
			<string>400</string>
		</dict>
	</dict>
	<key>bubble3</key>
	<dict>
		<key>initPos</key>
		<dict>
			<key>x</key>
			<string>0.68</string>
			<key>y</key>
			<string>0.16</string>
		</dict>
		<key>cp1Pos</key>
		<dict>
			<key>x</key>
			<string>50</string>
			<key>y</key>
			<string>150</string>
		</dict>
		<key>cp2Pos</key>
		<dict>
			<key>x</key>
			<string>-50</string>
			<key>y</key>
			<string>150</string>
		</dict>
		<key>endPos</key>
		<dict>
			<key>x</key>
			<string>0</string>
			<key>y</key>
			<string>400</string>
		</dict>
	</dict>
	<key>bubble4</key>
	<dict>
		<key>initPos</key>
		<dict>
			<key>x</key>
			<string>0.70</string>
			<key>y</key>
			<string>0.16</string>
		</dict>
		<key>cp1Pos</key>
		<dict>
			<key>x</key>
			<string>-20</string>
			<key>y</key>
			<string>200</string>
		</dict>
		<key>cp2Pos</key>
		<dict>
			<key>x</key>
			<string>-40</string>
			<key>y</key>
			<string>100</string>
		</dict>
		<key>endPos</key>
		<dict>
			<key>x</key>
			<string>-60</string>
			<key>y</key>
			<string>400</string>
		</dict>
	</dict>
	<key>bubble5</key>
	<dict>
		<key>initPos</key>
		<dict>
			<key>x</key>
			<string>0.40</string>
			<key>y</key>
			<string>0.16</string>
		</dict>
		<key>cp1Pos</key>
		<dict>
			<key>x</key>
			<string>-20</string>
			<key>y</key>
			<string>120</string>
		</dict>
		<key>cp2Pos</key>
		<dict>
			<key>x</key>
			<string>30</string>
			<key>y</key>
			<string>180</string>
		</dict>
		<key>endPos</key>
		<dict>
			<key>x</key>
			<string>0</string>
			<key>y</key>
			<string>400</string>
		</dict>
	</dict>
	<key>bubble6</key>
	<dict>
		<key>initPos</key>
		<dict>
			<key>x</key>
			<string>0.46</string>
			<key>y</key>
			<string>0.16</string>
		</dict>
		<key>cp1Pos</key>
		<dict>
			<key>x</key>
			<string>-100</string>
			<key>y</key>
			<string>130</string>
		</dict>
		<key>cp2Pos</key>
		<dict>
			<key>x</key>
			<string>-200</string>
			<key>y</key>
			<string>130</string>
		</dict>
		<key>endPos</key>
		<dict>
			<key>x</key>
			<string>-400</string>
			<key>y</key>
			<string>400</string>
		</dict>
	</dict>
	<key>bubble7</key>
	<dict>
		<key>initPos</key>
		<dict>
			<key>x</key>
			<string>0.50</string>
			<key>y</key>
			<string>0.16</string>
		</dict>
		<key>cp1Pos</key>
		<dict>
			<key>x</key>
			<string>100</string>
			<key>y</key>
			<string>130</string>
		</dict>
		<key>cp2Pos</key>
		<dict>
			<key>x</key>
			<string>-100</string>
			<key>y</key>
			<string>130</string>
		</dict>
		<key>endPos</key>
		<dict>
			<key>x</key>
			<string>0</string>
			<key>y</key>
			<string>400</string>
		</dict>
	</dict>
</dict>
</plist>
