<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cat1</key>
	<dict>
		<key>lEyeInPos</key>
		<dict>
			<key>x</key>
			<string>95.0</string>
			<key>y</key>
			<string>118.5</string>
		</dict>
		<key>rEyeInPos</key>
		<dict>
			<key>x</key>
			<string>168.0</string>
			<key>y</key>
			<string>116.5</string>
		</dict>
		<key>radius</key>
		<string>2</string>
	</dict>
	<key>cat2</key>
	<dict>
		<key>lEyeInPos</key>
		<dict>
			<key>x</key>
			<string>99.0</string>
			<key>y</key>
			<string>75.5</string>
		</dict>
		<key>rEyeInPos</key>
		<dict>
			<key>x</key>
			<string>142.0</string>
			<key>y</key>
			<string>75.5</string>
		</dict>
		<key>radius</key>
		<string>2</string>
	</dict>
	<key>cat3</key>
	<dict>
		<key>lEyeInPos</key>
		<dict>
			<key>x</key>
			<string>125.0</string>
			<key>y</key>
			<string>137.5</string>
		</dict>
		<key>rEyeInPos</key>
		<dict>
			<key>x</key>
			<string>178.0</string>
			<key>y</key>
			<string>138.5</string>
		</dict>
		<key>radius</key>
		<string>4</string>
	</dict>
	<key>cat4</key>
	<dict>
		<key>lEyeInPos</key>
		<dict>
			<key>x</key>
			<string>101.0</string>
			<key>y</key>
			<string>112.5</string>
		</dict>
		<key>rEyeInPos</key>
		<dict>
			<key>x</key>
			<string>173.0</string>
			<key>y</key>
			<string>110.5</string>
		</dict>
		<key>radius</key>
		<string>2</string>
	</dict>
	<key>cat5</key>
	<dict>
		<key>lEyeInPos</key>
		<dict>
			<key>x</key>
			<string>113.0</string>
			<key>y</key>
			<string>136.5</string>
		</dict>
		<key>rEyeInPos</key>
		<dict>
			<key>x</key>
			<string>153.0</string>
			<key>y</key>
			<string>132.5</string>
		</dict>
		<key>radius</key>
		<string>2</string>
	</dict>
	<key>cat6</key>
	<dict>
		<key>lEyeInPos</key>
		<dict>
			<key>x</key>
			<string>76.0</string>
			<key>y</key>
			<string>42.5</string>
		</dict>
		<key>rEyeInPos</key>
		<dict>
			<key>x</key>
			<string>125.0</string>
			<key>y</key>
			<string>46.5</string>
		</dict>
		<key>radius</key>
		<string>4</string>
	</dict>
	<key>cat7</key>
	<dict>
		<key>lEyeInPos</key>
		<dict>
			<key>x</key>
			<string>86.0</string>
			<key>y</key>
			<string>34.5</string>
		</dict>
		<key>rEyeInPos</key>
		<dict>
			<key>x</key>
			<string>135.0</string>
			<key>y</key>
			<string>33.5</string>
		</dict>
		<key>radius</key>
		<string>4</string>
	</dict>
	<key>cat8</key>
	<dict>
		<key>lEyeInPos</key>
		<dict>
			<key>x</key>
			<string>129.0</string>
			<key>y</key>
			<string>115.5</string>
		</dict>
		<key>rEyeInPos</key>
		<dict>
			<key>x</key>
			<string>178.0</string>
			<key>y</key>
			<string>114.5</string>
		</dict>
		<key>radius</key>
		<string>6</string>
	</dict>
	<key>cat9</key>
	<dict>
		<key>lEyeInPos</key>
		<dict>
			<key>x</key>
			<string>136.0</string>
			<key>y</key>
			<string>125.5</string>
		</dict>
		<key>rEyeInPos</key>
		<dict>
			<key>x</key>
			<string>184.0</string>
			<key>y</key>
			<string>132.5</string>
		</dict>
		<key>radius</key>
		<string>4</string>
	</dict>
	<key>cat10</key>
	<dict>
		<key>lEyeInPos</key>
		<dict>
			<key>x</key>
			<string>108.0</string>
			<key>y</key>
			<string>123.5</string>
		</dict>
		<key>rEyeInPos</key>
		<dict>
			<key>x</key>
			<string>158.0</string>
			<key>y</key>
			<string>123.5</string>
		</dict>
		<key>radius</key>
		<string>4</string>
	</dict>
	<key>cat11</key>
	<dict>
		<key>lEyeInPos</key>
		<dict>
			<key>x</key>
			<string>105.0</string>
			<key>y</key>
			<string>97.5</string>
		</dict>
		<key>rEyeInPos</key>
		<dict>
			<key>x</key>
			<string>174.0</string>
			<key>y</key>
			<string>98.5</string>
		</dict>
		<key>radius</key>
		<string>2</string>
	</dict>
	<key>cat12</key>
	<dict>
		<key>lEyeInPos</key>
		<dict>
			<key>x</key>
			<string>112.0</string>
			<key>y</key>
			<string>100.0</string>
		</dict>
		<key>rEyeInPos</key>
		<dict>
			<key>x</key>
			<string>201.0</string>
			<key>y</key>
			<string>101.5</string>
		</dict>
		<key>radius</key>
		<string>2</string>
	</dict>
	<key>cat13</key>
	<dict>
		<key>lEyeInPos</key>
		<dict>
			<key>x</key>
			<string>122.0</string>
			<key>y</key>
			<string>119.5</string>
		</dict>
		<key>rEyeInPos</key>
		<dict>
			<key>x</key>
			<string>167.0</string>
			<key>y</key>
			<string>120.5</string>
		</dict>
		<key>radius</key>
		<string>4</string>
	</dict>
</dict>
</plist>
