<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>wind_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{210, 74}, {82, 76}}</string>
			<key>spriteOffset</key>
			<string>{99, 50}</string>
			<key>spriteSize</key>
			<string>{82, 76}</string>
			<key>spriteSourceSize</key>
			<string>{304, 324}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{132, 2}, {82, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wind_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{94, 79}, {130, 142}}</string>
			<key>spriteOffset</key>
			<string>{7, 12}</string>
			<key>spriteSize</key>
			<string>{130, 142}</string>
			<key>spriteSourceSize</key>
			<string>{304, 324}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 302}, {130, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wind_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 13}, {128, 298}}</string>
			<key>spriteOffset</key>
			<string>{-72, -0}</string>
			<key>spriteSize</key>
			<string>{128, 298}</string>
			<key>spriteSourceSize</key>
			<string>{304, 324}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {128, 298}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>