<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mao6_tou.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {212, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{212, 162}</string>
			<key>spriteSourceSize</key>
			<string>{212, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{300, 134}, {212, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mao6_yanjing_1_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {97, 82}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{97, 82}</string>
			<key>spriteSourceSize</key>
			<string>{115, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{598, 398}, {97, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mao6_yanjing_1_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {105, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{105, 84}</string>
			<key>spriteSourceSize</key>
			<string>{115, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{896, 2}, {105, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mao6_yanjing_1_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 4}, {113, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{113, 84}</string>
			<key>spriteSourceSize</key>
			<string>{115, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 397}, {113, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mao6_yanjing_2_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {97, 82}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{97, 82}</string>
			<key>spriteSourceSize</key>
			<string>{115, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{796, 398}, {97, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mao6_yanjing_2_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {99, 84}}</string>
			<key>spriteOffset</key>
			<string>{-3, -1}</string>
			<key>spriteSize</key>
			<string>{99, 84}</string>
			<key>spriteSourceSize</key>
			<string>{115, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{896, 266}, {99, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mao6_yanjing_2_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 4}, {103, 84}}</string>
			<key>spriteOffset</key>
			<string>{-5, -1}</string>
			<key>spriteSize</key>
			<string>{103, 84}</string>
			<key>spriteSourceSize</key>
			<string>{115, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{896, 174}, {103, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mao6_yanjing_3_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {97, 82}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{97, 82}</string>
			<key>spriteSourceSize</key>
			<string>{115, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{697, 398}, {97, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mao6_yanjing_3_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {103, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{103, 84}</string>
			<key>spriteSourceSize</key>
			<string>{115, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{896, 88}, {103, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mao6_yanjing_3_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {109, 84}}</string>
			<key>spriteOffset</key>
			<string>{3, -1}</string>
			<key>spriteSize</key>
			<string>{109, 84}</string>
			<key>spriteSourceSize</key>
			<string>{115, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{117, 397}, {109, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mao6_zui_1_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {296, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{296, 130}</string>
			<key>spriteSourceSize</key>
			<string>{300, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{300, 2}, {296, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mao6_zui_2_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {296, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{296, 130}</string>
			<key>spriteSourceSize</key>
			<string>{300, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{300, 298}, {296, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mao6_zui_2_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {296, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{296, 130}</string>
			<key>spriteSourceSize</key>
			<string>{300, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {296, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mao6_zui_3_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {296, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{296, 130}</string>
			<key>spriteSourceSize</key>
			<string>{300, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{598, 266}, {296, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mao6_zui_4_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {296, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{296, 130}</string>
			<key>spriteSourceSize</key>
			<string>{300, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{598, 2}, {296, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mao6_zui_5_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {296, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{296, 130}</string>
			<key>spriteSourceSize</key>
			<string>{300, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{598, 134}, {296, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mao6_shenti.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 6}, {262, 261}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{262, 261}</string>
			<key>spriteSourceSize</key>
			<string>{274, 269}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 134}, {262, 261}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mao6_weiba.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {52, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{52, 114}</string>
			<key>spriteSourceSize</key>
			<string>{52, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{514, 134}, {52, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mao6_yankuang.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {97, 84}}</string>
			<key>spriteOffset</key>
			<string>{-3, -1}</string>
			<key>spriteSize</key>
			<string>{97, 84}</string>
			<key>spriteSourceSize</key>
			<string>{115, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{896, 352}, {97, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mao6_yanren.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {22, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{22, 30}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{228, 397}, {22, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
	</dict>
</dict>
</plist>
