<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mao9_tou.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {296, 225}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{296, 225}</string>
			<key>spriteSourceSize</key>
			<string>{304, 231}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 265}, {296, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mao9_yanjing_3_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {128, 90}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{128, 90}</string>
			<key>spriteSourceSize</key>
			<string>{130, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{762, 124}, {128, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mao9_yanjing_3_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {128, 90}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{128, 90}</string>
			<key>spriteSourceSize</key>
			<string>{130, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{632, 124}, {128, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mao9_yanjing_3_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {128, 90}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{128, 90}</string>
			<key>spriteSourceSize</key>
			<string>{130, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{818, 394}, {128, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mao9_yanjing_1_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {128, 90}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{128, 90}</string>
			<key>spriteSourceSize</key>
			<string>{130, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{558, 394}, {128, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mao9_yanjing_1_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {128, 90}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{128, 90}</string>
			<key>spriteSourceSize</key>
			<string>{130, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{837, 265}, {128, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mao9_yanjing_1_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {128, 90}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{128, 90}</string>
			<key>spriteSourceSize</key>
			<string>{130, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{428, 394}, {128, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mao9_yanjing_2_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {128, 90}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{128, 90}</string>
			<key>spriteSourceSize</key>
			<string>{130, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{688, 394}, {128, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mao9_yanjing_2_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {128, 90}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{128, 90}</string>
			<key>spriteSourceSize</key>
			<string>{130, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{502, 124}, {128, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mao9_yanjing_2_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {128, 90}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{128, 90}</string>
			<key>spriteSourceSize</key>
			<string>{130, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{892, 124}, {128, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mao9_zui_1_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {234, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{234, 120}</string>
			<key>spriteSourceSize</key>
			<string>{240, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{365, 265}, {234, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mao9_zui_2_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {234, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{234, 120}</string>
			<key>spriteSourceSize</key>
			<string>{240, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{738, 2}, {234, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mao9_zui_2_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {234, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{234, 120}</string>
			<key>spriteSourceSize</key>
			<string>{240, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{266, 2}, {234, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mao9_zui_3_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {234, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{234, 120}</string>
			<key>spriteSourceSize</key>
			<string>{240, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{502, 2}, {234, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mao9_zui_4_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {234, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{234, 120}</string>
			<key>spriteSourceSize</key>
			<string>{240, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{266, 124}, {234, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mao9_zui_5_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {234, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{234, 120}</string>
			<key>spriteSourceSize</key>
			<string>{240, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{601, 265}, {234, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mao9_shenti.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 6}, {262, 261}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{262, 261}</string>
			<key>spriteSourceSize</key>
			<string>{274, 269}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {262, 261}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mao9_weiba.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{63, 127}</string>
			<key>spriteSourceSize</key>
			<string>{63, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{300, 265}, {63, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mao9_yankuang.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {126, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{126, 90}</string>
			<key>spriteSourceSize</key>
			<string>{130, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{300, 394}, {126, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>mao9_yanren.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {14, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{14, 20}</string>
			<key>spriteSourceSize</key>
			<string>{20, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{837, 357}, {14, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
	</dict>
</dict>
</plist>
